@model TMS.Models.DataModels.TestPlanModel

@{
    ViewBag.Title = "Редактирование";
    var tpMenu = new SubMenuElement(4);
    tpMenu.AddItem("<span class=\"fa fa-arrow-left\"></span>", Url.Action("Index", "TestPlans", new {parent = @Model.Folder.ID}, null), "Назад");
    tpMenu.AddItem("<span class=\"fa fa-play\"></span>", Url.Action("Play", "TestPlans", new {testPlanId = @Model.ID}, null), "Запустить");
    tpMenu.AddItem("<span class=\"fa fa-print\"></span>", Url.Action("Print", "TestPlans", new {testPlanId = @Model.ID}, null), "Отчёт");
    tpMenu.AddDivider();
    tpMenu.AddItem("<span class=\"fa fa-pencil\"></span>", Url.Action("EditTp", "TestPlans", new {testPlanId = @Model.ID}, null), "Редактировать");
    tpMenu.AddItem("<span class=\"fa fa-list\"></span>", Url.Action("EditTCList", "TestPlans", new {testPlanId = @Model.ID}, null), "Список тесткейсов");
    ViewBag.SubMenu = tpMenu;
}

@Html.DisplayForModel()