@model TMS.Models.DataModels.TestCaseModel

<h1>@string.Format("({0}) {1}", Model.UnicID, Model.Name)</h1>
<div class="panel panel-info">
    <div class="panel-heading">@Html.DisplayNameFor(x => Model.Description)</div>
    <div class="panel-body">
        @Html.DisplayFor(x => Model.Description)
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">@Html.DisplayNameFor(x => Model.StepBefore)</div>
    <div class="panel-body">
        @Html.DisplayFor(x => Model.StepBefore)
    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading">@Html.DisplayNameFor(x => Model.Expected)</div>
    <div class="panel-body">
        @Html.DisplayFor(x => Model.Expected)
    </div>
</div>
