<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">TMS</a>
        </div>
        <ul class="nav navbar-nav">
            @{ Html.RenderAction("MainMenu", "Base"); }
        </ul>
        <ul class="nav navbar-nav navbar-right">
            @Html.Li(@Html.ActionLink("Profile", "Profile", "Account")).AccessLogged()
            @Html.Li(@Html.ActionLink("LogOut", "LogOut", "Account")).AccessLogged()
        </ul>
    </div>
</nav>