@model TMS.Models.DataModels.TestCaseModel

@{
    ViewBag.Title = "Редактировать";
    var tpMenu = new SubMenuElement(4);
    tpMenu.AddItem("<span class=\"fa fa-close\"></span>", Url.Action("ViewTc", "TestCases", new {testCaseId = @Model.ID}, null), "Закрыть");
    ViewBag.SubMenu = tpMenu;
}

@using (Html.BeginForm("Save", "TestCases", FormMethod.Post, new {@class = "form-horizontal"}))
{
    @Html.ValidationSummary()
    @Html.EditorFor(x => x.Name)
    @Html.EditorFor(x => x.Description)
    @Html.EditorFor(x => x.StepBefore)
    @Html.EditorFor(x => x.Expected)
    @Html.HiddenFor(x => x.UnicID)
    @Html.HiddenFor(x => x.ID)
    @Html.HiddenFor(x => x.Folder.ID)
    <button type="submit" class="btn btn-success btn-block">Сохранить</button>
}